config XENO_DRIVERS_CAN_C_CAN
	depends on XENO_DRIVERS_CAN && OF
	tristate "Bosch C-CAN based chips"

config XENO_DRIVERS_CAN_C_CAN_PLATFORM
	depends on XENO_DRIVERS_CAN_C_CAN
	tristate "Generic Platform Bus based controller"
	help

	This driver adds support for the C_CAN/D_CAN chips connected
	to the "platform bus" (Linux abstraction for directly to the
	processor attached devices) which can be found on various
	boards from ST Microelectronics (http://www.st.com) like the
	SPEAr1310 and SPEAr320 evaluation boards & TI (www.ti.com)
	boards like am335x, dm814x, dm813x and dm811x.
