config XENO_DRIVERS_CAN_PEAK_CANFD
	depends on XENO_DRIVERS_CAN && PCI && !XENO_DRIVERS_CAN_CALC_BITTIME_OLD
	tristate "PEAK driver for PCAN-PCIe FD family"
	help
	  This driver supports the PCAN-PCIe FD boards family from PEAK-System.
